body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.header {
  width: 1600px;
  height: 80px;
  background: #ffffff;
  display: inline-flex;
}

.nav {
  display: inline-flex;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav a:hover {
  color: #2196f3;
}

.nav_logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 215px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.nav_logo_2 {
  color: black;
}

.nav_li_1 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
}

.nav_li_2 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.nav_li_3 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.contacts {
  display: inline-flex;
  list-style-type: none;
}

.contacts a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts a:hover {
  color: #2196f3;
}

.head_mail {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 331px;
}

.head_tel {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 50px;
}

/* оформление index.html */

.main_title {
  width: 1600px;
  height: 600px;
  margin: 0px;
  background: #2f303a;
}

.main_title_head {
  padding-left: 452px;
  padding-top: 200px;
  padding-right: 452px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main_title_button {
  margin-left: 700px;
  margin-top: 30px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.main_title_button button {
}

.button_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;  
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}

.our_skills {
  width: 1170px;
  height: 101px;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
  background: #f5f4fa;
}

.skills_li {
  display: inline-flex;
  list-style-type: none;
}

.skills_li h3 {
  margin-right: 30px;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.skills_li p {
  width: 270px;
  height: 75px;
  margin-right: 30px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.our_work {
  width: 1170px;
  height: 386px;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
  background: #f5f4fa;
}

.our_work_head {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our_work_list {
  display: inline-flex;
  list-style-type: none;
}

.our_work_list li {
  margin-right: 30px;
}

.our_team {
  width: 1600px;
  height: 648px;
  margin-top: 94px;
  background: #f5f4fa;
}

.our_team_head {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our_team_list {
  display: inline-flex;
  list-style-type: none;
  margin-left: 215px;
}

.our_team_list li {
  margin-right: 30px;
}

.our_team_list h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our_team_list p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* оформление portfolio.html */

.portfolio_buttons {
  display: inline-flex;
  list-style-type: none;
  margin-left: 495px;
  margin-top: 94px;
}

.portfolio_buttons button {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  outline: none;
  border: none;
}

.portfolio_buttons button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.presentation {
  list-style-type: none;
  columns: 3;
  margin-top: 50px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}

.presentation li {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.presentation h3 {
  width: 322px;
  height: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.presentation p {
  width: 322px;
  height: 30px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* оформление футера */

.footer {
  height: 252px;
  background: #2f303a;
}

.footer a {
  text-decoration: none;
}

.footer_logo {
  display: flex;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer_logo_2 {
  color: white;
}

.address_list {
  padding-left: 215px;
  list-style-type: none;
}

.address a {
  color: white;
}

.address_list li {
  margin-bottom: 9px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts_footer a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.contacts_footer a:hover {
  color: #2196f3;
}
