:root {
  --accent-color: #2196f3;
  --link-color: #212121;
  --address-color: #757575;
  --discription-color: #757575;
  --text-color: #ffffff;
  --second-back-color: #2f303a;
  --main-back-color: #ffffff;
  --second-logo-color: #000000;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--main-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-----------------------------------------HEADER-----------------------------------------*/
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.header > div {
  display: flex;
}

.nav_logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: inline-flex;
}

.nav_logo_2 {
  color: var(--second-logo-color);
}

.main-nav {
  display: flex;
}

.nav {
  display: flex;
}

.nav a {
  position: relative;
}

.nav li:not(:last-child) {
  margin-right: 50px;
}

.nav a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_li_1 .active-studio {
  color: var(--accent-color);
}

.active-studio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: var(--accent-color);
  border: 2px;
  height: 4px;
  width: 100%;
}

.nav_li_2 .active-portfolio {
  color: var(--accent-color);
}

.active-portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: var(--accent-color);
  border: 2px;
  height: 4px;
  width: 100%;
}

.contacts {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.head-link {
  text-decoration: none;
  color: var(--address-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_mail {
  margin-right: 10px;
  fill: currentColor;
}

.head_tel {
  margin-right: 10px;
  fill: currentColor;
}

.head-link:hover,
.head-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts li:not(:last-child) {
  margin-right: 50px;
}

/*-----------------------------------------STUDIO-----------------------------------------*/

.main_title {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--second-back-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main_title_head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 30px;
}

.main_title_button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 10px 32px 10px 32px;
  margin: 0 auto;
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--main-back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skills_li {
  display: inline-flex;
}

.skills_li li:not(:last-child) {
  margin-right: 30px;
}

.icon-block {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
}

.skills_li h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.skills_li p {
  margin-top: 10px;
  line-height: 1.71;
  color: var(--discription-color);
  max-width: 270px;
}

.our_work {
  padding-top: 0px;
}

.our_work img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our_work_head {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our_work_list {
  display: flex;
}

.our_work_list li {
  position: relative;
}

.our_work_list li:not(:last-child) {
  margin-right: 30px;
}

.our_work-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.our_team {
  background: #f5f4fa;
}

.our_team_head {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our_team_list {
  display: inline-flex;
}

.our_team_list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our_team_item {
  background: var(--main-back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our_team_list li:not(:last-child) {
  margin-right: 30px;
}

.our_team_list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.our_team_list p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--discription-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.our_team_links_list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.our_team_links_list a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
}

.our_team_links_list .icon {
  fill: currentColor;
}

.our_team_links_list a:hover,
.our_team_links_list a:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_team_links_list li:not(:last-child) {
  margin-right: 10px;
}

.clients {
}

.clients-head {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.clients-list li:not(:last-child) {
  margin-right: 30px;
}

.clients-list a {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  color: #2196f3;
}

.clients-list a:hover,
.clients-list a:focus {
  border: 1px solid currentColor;
  border-radius: 4px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------------------------------PORTFOLIO-----------------------------------------*/

.portfolio_buttons {
  list-style-type: none;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio_buttons button {
  display: block;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  outline: none;
  border: none;
}

.portfolio_buttons li:not(:last-child) {
  margin-right: 8px;
}

.portfolio_buttons button:hover,
.portfolio_buttons button:focus {
  background: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.pres-about-technokriak {
  position: relative;
  overflow: hidden;
}

.about-technokriak {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.presentation a:hover .about-technokriak,
.presentation a:focus .about-technokriak {
  transform: translateY(0%);
  opacity: 1;
}

.presentation li {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.presentation a:hover,
.presentation a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.presentation img {
  display: block;
  max-width: 100%;
  height: auto;
}

.presentation a {
  text-decoration: none;
  display: block;
}

.presentation a:visited {
  color: inherit;
}

.presentation-discription {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
}

.presentation h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.presentation-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--discription-color);
}

/*-----------------------------------------FOOTER-----------------------------------------*/

.footer {
  background: var(--second-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer a {
  text-decoration: none;
}

.footer_logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer_logo_2 {
  color: var(--text-color);
}

.address_list {
  margin-top: 20px;
  margin-bottom: 0px;
}

.address a {
  color: var(--text-color);
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_list li:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color);
}

.contacts_footer a {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.contacts_footer a:hover,
.contacts_footer a:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links {
  margin-left: 70px;
}

.footer-head {
  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

.footer-list {
  display: inline-flex;
}

.footer-list a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #43444d;
}

.footer-list .icon {
  fill: currentColor;
}

.footer-list a:hover,
.footer-list a:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list li:not(:last-child) {
  margin-right: 10px;
}
