:root {
  --accent-color: #2196f3;
  --link-color: #212121;
  --address-color: #757575;
  --discription-color: #757575;
  --text-color: #ffffff;
  --second-back-color: #2f303a;
  --main-back-color: #ffffff;
  --second-logo-color: #000000;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--main-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-----------------------------------------HEADER-----------------------------------------*/
/*_____________________________________ header BLOCK */

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.header > div {
  display: flex;
}

/*_____________________________________ navigation BLOCK */

.navigation {
  display: flex;
}

.navigation__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: inline-flex;
}

.navigation__logo2 {
  color: var(--second-logo-color);
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studioPage .active-studio {
  color: var(--accent-color);
}

.active-studio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: var(--accent-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.portfolioPage .active-portfolio {
  color: var(--accent-color);
}

.active-portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

/*_____________________________________ headContacts BLOCK */

.headContacts {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headContacts__item:not(:last-child) {
  margin-right: 50px;
}

.headContacts__link {
  text-decoration: none;
  color: var(--address-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headContacts__link:hover,
.headContacts__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headContacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*-----------------------------------------STUDIO-----------------------------------------*/

/*_____________________________________ HERO BLOCK */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--second-back-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 30px;
}

.hero__button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 10px 32px 10px 32px;
  margin: 0 auto;
  display: block;
}

/*_____________________________________ SKILLS BLOCK */

.skills__list {
  display: inline-flex;
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skills__icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
}

.skills__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.skills__text {
  margin-top: 10px;
  line-height: 1.71;
  color: var(--discription-color);
  max-width: 270px;
}

/*_____________________________________ WORKS BLOCK */

.works {
  padding-top: 0px;
}

.works__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/*_____________________________________ TEAM BLOCK */

.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: inline-flex;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__item {
  background: var(--main-back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--discription-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

/*memberLinks BLOCK */

.memberLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.memberLinks__item:not(:last-child) {
  margin-right: 10px;
}

.memberLinks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
}

.memberLinks__link:hover,
.memberLinks__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.memberLinks__icon {
  fill: currentColor;
}

/*_____________________________________ CLIETNS BLOCK */

.clients__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  color: #2196f3;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid currentColor;
  border-radius: 4px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------------------------------PORTFOLIO-----------------------------------------*/
/*_____________________________________ PORTFOLIO BLOCK */
.portfolio_buttons {
  list-style-type: none;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio_buttons button {
  display: block;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  outline: none;
  border: none;
}

.portfolio_buttons li:not(:last-child) {
  margin-right: 8px;
}

.portfolio_buttons button:hover,
.portfolio_buttons button:focus {
  background: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*_____________________________________ PRESENTATION BLOCK */

.presentation {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.pres-about-card {
  position: relative;
  overflow: hidden;
}

.about-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.presentation a:hover .about-card,
.presentation a:focus .about-card {
  transform: translateY(0%);
  opacity: 1;
}

.presentation li {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.presentation a:hover,
.presentation a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.presentation img {
  display: block;
  max-width: 100%;
  height: auto;
}

.presentation a {
  text-decoration: none;
  display: block;
}

.presentation a:visited {
  color: inherit;
}

.presentation-discription {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
}

.presentation h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.presentation-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--discription-color);
}

/*-----------------------------------------FOOTER-----------------------------------------*/
/*_____________________________________ FOOTER BLOCK */

.footer {
  background: var(--second-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer a {
  text-decoration: none;
}

.footer__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer__logo {
  color: var(--text-color);
}

/*_____________________________________ ADDRESS BLOCK */

.footerContacts {
  margin-top: 20px;
  margin-bottom: 0px;
}

.footerContacts__link.footerContacts__address {
  color: var(--text-color);
}

.footerContacts__item {
  font-style: normal;
  line-height: 1.71;
}

.footerContacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footerContacts__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.footerContacts__link:hover,
.footerContacts__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*_____________________________________ socialPages BLOCK */

.socialPages {
  margin-left: 70px;
}

.socialPages__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

.socialPages__list {
  display: inline-flex;
}

.socialPages__item:not(:last-child) {
  margin-right: 10px;
}

.socialPages__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #43444d;
}

.socialPages__link:hover,
.socialPages__link:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialPages__icon {
  fill: currentColor;
}

/*_____________________________________ subscribe BLOCK */

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
}

.subscribe__block {
  display: flex;
  align-items: flex-end;
}

.subscribe__input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  margin-right: 12px;
  padding-left: 16px;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus,
.subscribe__input:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__btn {
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
}

/*-----------------------------------------MODAL-----------------------------------------*/
/*_____________________________________ backdrop BLOCK */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

/*_____________________________________ modal BLOCK */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--main-back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closeButton:hover {
  fill: var(--accent-color);
}

/*_____________________________________ feedback BLOCK */

.feedback .feedback__block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.feedback__form {
  position: relative;
}

.feedback__block {
  width: 448px;
  display: flex;
  justify-content: center;
}

.feedback__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.feedback__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 29px;
  left: 12px;
}

.feedback__block:focus-within > .feedback__icon,
.feedback__block:hover > .feedback__icon {
  fill: var(--accent-color);
}

.feedback__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__block:focus-within > .feedback__input,
.feedback__block:hover > .feedback__input {
  border: 1px solid #2196f3;
}

.feedback__comments {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.feedback__comments::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__comments:hover,
.feedback__comments:focus {
  border: 1px solid var(--accent-color);
}

/*_____________________________________ checkbox BLOCK */

.checkbox {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 423px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__input:checked + .checkbox__icon {
  opacity: 0;
}

.checkbox__icon {
  position: absolute;
  left: 0px;
  display: flex;
  z-index: 2;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: none;
}

.check__icon {
  position: absolute;
  left: 0px;
  display: flex;
}

.checkbox input[type="checkbox"]:checked + .checkbox__icon {
}

.checkbox__terms {
  line-height: 1.71;
  color: var(--accent-color);
}

/*_____________________________________ modal__btn BLOCK */

.modal__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
