:root {
  --accent-color: #2196f3;
  --link-color: #212121;
  --address-color: #757575;
  --discription-color: #757575;
  --text-color: #ffffff;
  --second-back-color: #2f303a;
  --main-back-color: #ffffff;
  --second-logo-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--main-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-----------------------------------------HEADER-----------------------------------------*/
.header {
}

.nav {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}

.nav_logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.nav_logo_2 {
  color: var(--second-logo-color);
}

.nav_li_1 .active-studio {
  color: var(--accent-color);
}

.nav_li_2 .active-portfolio {
  color: var(--accent-color);
}

.nav_li_3 {
}

.contacts {
  list-style-type: none;
}

.contacts a {
  text-decoration: none;
  color: var(--address-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.head_mail {
}

.head_tel {
}

/*-----------------------------------------STUDIO-----------------------------------------*/

.main_title {
  background: var(--second-back-color);
}

.main_title_head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
}

.main_title_button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.main_title_button button {
}

.button_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 10px 32px;
}

.our_skills {
}

.skills_li {
  list-style-type: none;
}

.skills_li h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills_li p {
  line-height: 1.71;
  color: var(--discription-color);
}

.our_work {
}

.our_work_head {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.our_work_list {
  list-style-type: none;
}

.our_work_list li {
}

.our_team {
}

.our_team_head {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.our_team_list {
  list-style-type: none;
}

.our_team_list li {
}

.our_team_list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our_team_list p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--discription-color);
}

/*-----------------------------------------PORTFOLIO-----------------------------------------*/

.portfolio_buttons {
  list-style-type: none;
}

.portfolio_buttons button {
  cursor: pointer;
  background: var(--main-back-color);
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  outline: none;
  border: none;
}

.portfolio_buttons button:hover,
.portfolio_buttons button:focus {
  background: var(--accent-color);
  color: var(--text-color);
}

.presentation {
  list-style-type: none;
}

.presentation a {
  text-decoration: none;
}

.presentation a:visited {
  color: inherit;
}

.presentation li {
}

.presentation h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.presentation p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--discription-color);
}

/*-----------------------------------------FOOTER-----------------------------------------*/

.footer {
  background: var(--second-back-color);
}

.footer a {
  text-decoration: none;
}

.footer_logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer_logo_2 {
  color: var(--text-color);
}

.address_list {
  list-style-type: none;
}

.address a {
  color: var(--text-color);
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

.address_list li {
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color);
}

.contacts_footer a {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.contacts_footer a:hover,
.contacts_footer a:focus {
  color: var(--accent-color);
}
