body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.header {
}

.nav {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav a:hover {
  color: #2196f3;
}

.nav a:focus {
  color: #2196f3;
}

.nav_logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.nav_logo_2 {
  color: black;
}

.nav_li_1 .active-studio {
  color: #2196f3;
}

.nav_li_2 .active-portfolio {
  color:#2196f3;
}

.nav_li_3 {
}

.contacts {
  list-style-type: none;
}

.contacts a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a:hover {
  color: #2196f3;
}

.contacts a:focus {
  color: #2196f3;
}

.head_mail {
}

.head_tel {
}

/* оформление index.html */

.main_title {
  background: #2f303a;
}

.main_title_head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main_title_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.main_title_button button {
}

.button_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}

.our_skills {
}

.skills_li {
  list-style-type: none;
}

.skills_li h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.skills_li p {
  line-height: 1.71;
  color: #757575;
}

.our_work {
}

.our_work_head {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.our_work_list {
  list-style-type: none;
}

.our_work_list li {
}

.our_team {
}

.our_team_head {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.our_team_list {
  list-style-type: none;
}

.our_team_list li {
}

.our_team_list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our_team_list p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}

/* оформление portfolio.html */

.portfolio_buttons {
  list-style-type: none;
}

.portfolio_buttons button {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  outline: none;
  border: none;
}

.portfolio_buttons button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio_buttons button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.presentation {
  list-style-type: none;
}

.presentation a {
  text-decoration: none;
}

.presentation a:visited {
  color: inherit;
}

.presentation li {
}

.presentation h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.presentation p {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

/* оформление футера */

.footer {
  background: #2f303a;
}

.footer a {
  text-decoration: none;
}

.footer_logo {
  font-weight: 700;
  font-size: 26px;
  line-height: ;
  color: #2196f3;
}

.footer_logo_2 {
  color: white;
}

.address_list {
  list-style-type: none;
}

.address a {
  color: white;
}

.address_list li {
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts_footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.contacts_footer a:hover {
  color: #2196f3;
}

.contacts_footer a:focus {
  color: #2196f3;
}
