/*-----------------------------------------FOOTER-----------------------------------------*/
/*_____________________________________ FOOTER BLOCK */

.footer {
  background: var(--second-back-color);
  padding-top: 60px;
  padding-bottom: 60px;

  & > .container {
    display: flex;
    align-items: baseline;
  }

  & a {
    text-decoration: none;
  }
}

.footer__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer__logo {
  color: var(--text-color);
}

/*_____________________________________ ADDRESS BLOCK */

.footerContacts {
  margin-top: 20px;
  margin-bottom: 0px;
}

.footerContacts__link.footerContacts__address {
  color: var(--text-color);
}

.footerContacts__item {
  font-style: normal;
  line-height: 1.71;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footerContacts__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*_____________________________________ socialPages BLOCK */

.socialPages {
  margin-left: 70px;
}

.socialPages__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

.socialPages__list {
  display: inline-flex;
}

.socialPages__item:not(:last-child) {
  margin-right: 10px;
}

.socialPages__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #43444d;

  &:hover,
  &:focus {
    background-color: #2196f3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.socialPages__icon {
  fill: currentColor;
}

/*_____________________________________ subscribe BLOCK */

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
}

.subscribe__block {
  display: flex;
  align-items: flex-end;
}

.subscribe__input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  margin-right: 12px;
  padding-left: 16px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.subscribe__btn {
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
}
