:root {
  --accent-color: #2196f3;
  --link-color: #212121;
  --address-color: #757575;
  --discription-color: #757575;
  --text-color: #ffffff;
  --second-back-color: #2f303a;
  --main-back-color: #ffffff;
  --second-logo-color: #000000;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: var(--main-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}